@sprite .city {
    gwt-image: "city";
    background-position: bottom right;
    height: 170px;
    margin-top: 50px;

    color: #202020;
}

.city {
    font-size: 12px;
}

.city h2 {
    color: #202020;
    display: block;
    background: none;

    margin: 0;
    margin-top: 10px;
    padding: 0;

    font-size: 19px;
    font-weight: normal;
}

.city > div > p:first-of-type {
    margin-top: 0;
}

.city > p:first-of-type {
    font-size: 12px;
    font-weight: bold;
}

.location a {
    text-decoration: none;
    color: #202020;
}

.location a:hover {
    text-decoration: underline;
}

.city p {
    color: #202020;
    margin-top: 5px;
    font-size: 14px;
}

@sprite .copy {
    gwt-image: "copy";
}

.copy p {
    font-size: 11px;
    margin: 0px auto;
    color: #747d81;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
}

.copy p a {
    text-decoration: underline;
    color: #747d81;
}

.copy p a:hover {
    text-decoration: underline;
    color: #216a9e;
}

.social {
    display: inline-block;
    padding: 8px 10px;
    margin-bottom: 10px;
}

@sprite .follow {
    padding-left: 30px;
    gwt-image: "follow";
}

@sprite .share {
    padding-left: 31px;
    gwt-image: "share";
}

a.follow, a.share {
    display: inline-block;
    width: auto;

    color: #4d5458;
    font-size: 27px;
    line-height: 29px;
    text-transform: uppercase;

    margin: 0 10px;

    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity = 100 );
}

a.follow {
    margin-right: 20px;
}

a.follow:hover, a.share:hover {
    -moz-opacity: 0.85;
    opacity: 0.85;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity = 85 );
}

@sprite .location {
    gwt-image: "pin";

    height: auto;
    width: auto;

    background-position: center left;

    font-size: 13px;
    padding: 12px 0 10px 35px;
    margin-top: 5px;
}
