.visioProgram {
    margin-bottom: 0;
}

.visioProgram ul, .visioProgram ul li, .visioProgram div {
    margin: 0;
    padding: 0;
    background: none;
    width: auto;
    height: auto;
    overflow: visible;
}

.visioProgram ul.hoursTable {
    width: 55px;
    float: left;
    margin-top: 5px;
    border: 1px solid #2a5b8c;
    border-right: 0;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-box-shadow: 8px 0 12px -2px rgba(50, 50, 50, 0.15);
    -moz-box-shadow: 8px 0 12px -2px rgba(50, 50, 50, 0.15);
    box-shadow: 8px 0 12px -2px rgba(50, 50, 50, 0.15);
    z-index: 30;
    position: relative;
}

@eval HEIGHT_LINES com.jci.client.resource.program.ProgramResource.COL_HEIGTH*1-6+"px";

.visioProgram  ul.hoursTable li {
    display: block;
    height: HEIGHT_LINES;
    padding-top: 5px;
    padding-left: 5px;
    border-top: 1px solid #2da6d1;
}

.visioProgram  ul.hoursTable li:first-child {
    border: 0;
    padding: 0;
    margin: 0;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    height: 30px;
    width: 55px;
    border-right: 1px solid #2da6d1;
}

.visioProgram  ul.hoursTable li.odd {
    background: #e3f0fa;
}

.visioProgram .carouselInner {
    float: left;
    width: 872px;
    margin-top: 5px;
    overflow: hidden;
    border: 1px solid #2a5b8c;
    border-left: 0;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 10;
    position: relative;
}

@eval HEIGHT_CALENDAR com.jci.client.resource.program.ProgramResource.COL_HEIGTH*21+30+"px";

@sprite .visioProgram  .carouselInner .carouselInnerDiv {
    height: HEIGHT_CALENDAR;
    gwt-image: "tuile";
    background-position: 1px 30px;
}

.visioProgram  .rooms {
    background: #d4ebf6;
    -webkit-box-shadow: 0px 5px 4px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 5px 4px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 5px 4px rgba(50, 50, 50, 0.1);
    width: 872px;
    position: relative;
}

@eval WIDTH_COL com.jci.client.resource.program.ProgramResource.COL_WIDTH*1-31+"px";

.visioProgram  .rooms li {
    height: 30px;
    line-height: 30px;
    width: WIDTH_COL;
    display: inline-block;
    padding: 0 15px;
    border-left: 1px solid #2da6d1;
    float: left;
    font-weight: bold;
}

    /*event*/
@eval WIDTH_1_H2 com.jci.client.resource.program.ProgramResource.COL_WIDTH*1-27+"px";
@eval WIDTH_2_H2 com.jci.client.resource.program.ProgramResource.COL_WIDTH*2-27+"px";
@eval WIDTH_3_H2 com.jci.client.resource.program.ProgramResource.COL_WIDTH*3-27+"px";

.visioProgram .event {
    position: absolute;
    display: block;
    padding: 5px;
    cursor: pointer;
}

.visioProgram .event > div > h2 {
    margin-top: 0;
    background: rgba(0, 0, 0, 0.35);
    line-height: 20px;
    padding: 7px 8px;
    width: WIDTH_1_H2;
}

.visioProgram .event.w2 > div > h2 {
    width: WIDTH_2_H2;
}

.visioProgram .event.w3 > div > h2 {
    width: WIDTH_3_H2;
}

.visioProgram .event > div > p {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 3px;
}

.visioProgram .event > div {
    overflow: hidden;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: rgba(215, 230, 245, 0.69);
    border: 1px solid rgba(215, 230, 245, 0.44);
    -webkit-box-shadow: 0px 2px 10px -1px rgba(50, 50, 50, 0.45);
    -moz-box-shadow: 0px 2px 10px -1px rgba(50, 50, 50, 0.45);
    box-shadow: 0px 2px 10px -1px rgba(50, 50, 50, 0.45);
    width: 100%;
    height: 100%;
    -webkit-transition: background-color .4s ease;
    -moz-transition: background-color .4s ease;
    -o-transition: background-color .4s ease;
    -ms-transition: background-color .4s ease;
    transition: background-color .4s ease;
}

.visioProgram .event.active > div {
    top: 1px;
    -moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.30);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.30);
}

.visioProgram .event:hover > div, .visioProgram .event.active > div {
    background: rgba(164, 177, 189, 0.66);
}

    /*color*/
.visioProgram .event.cBlue > div {
    background: rgba(181, 202, 246, 0.63);
    border: 1px solid rgba(181, 202, 246, 0.43);
}

.visioProgram .event.cBlue:hover > div, .visioProgram .event.cBlue.active > div {
    background: rgba(95, 136, 217, 0.67);
}

.visioProgram .event.cGreen > div {
    background: rgba(169, 245, 213, 0.62);
    border: 1px solid rgba(169, 245, 213, 0.42);
}

.visioProgram .event.cGreen:hover > div, .visioProgram .event.cGreen.active > div {
    background: rgba(102, 217, 169, 0.66);
}

.visioProgram .event.cRed > div {
    background: rgba(245, 175, 169, 0.62);
    border: 1px solid rgba(245, 175, 169, 0.42);
}

.visioProgram .event.cRed:hover > div, .visioProgram .event.cRed.active > div {
    background: rgba(217, 125, 117, 0.65);
}

.visioProgram .event.cYellow > div {
    background: rgba(245, 232, 169, 0.61);
    border: 1px solid rgba(245, 232, 169, 0.41);
}

.visioProgram .event.cYellow:hover > div, .visioProgram .event.cYellow.active > div {
    background: rgba(217, 200, 117, 0.64);
}

.visioProgram .event.cPurple > div {
    background: rgba(182, 169, 245, 0.60);
    border: 1px solid rgba(182, 169, 245, 0.40);
}

.visioProgram .event.cPurple:hover > div, .visioProgram .event.cPurple.active > div {
    background: rgba(134, 117, 217, 0.63);
}

    /*left*/
@eval l1 com.jci.client.resource.program.ProgramResource.COL_WIDTH*0+com.jci.client.resource.program.ProgramResource.BEFORE_LEFT+"px";
@eval l2 com.jci.client.resource.program.ProgramResource.COL_WIDTH*1+com.jci.client.resource.program.ProgramResource.BEFORE_LEFT+"px";
@eval l3 com.jci.client.resource.program.ProgramResource.COL_WIDTH*2+com.jci.client.resource.program.ProgramResource.BEFORE_LEFT+"px";
@eval l4 com.jci.client.resource.program.ProgramResource.COL_WIDTH*3+com.jci.client.resource.program.ProgramResource.BEFORE_LEFT+"px";
@eval l5 com.jci.client.resource.program.ProgramResource.COL_WIDTH*4+com.jci.client.resource.program.ProgramResource.BEFORE_LEFT+"px";
@eval l6 com.jci.client.resource.program.ProgramResource.COL_WIDTH*5+com.jci.client.resource.program.ProgramResource.BEFORE_LEFT+"px";

.visioProgram .l1 {
    left: l1;
}

.visioProgram .l2 {
    left: l2;
}

.visioProgram .l3 {
    left: l3;
}

.visioProgram .l4 {
    left: l4;
}

.visioProgram .l5 {
    left: l5;
}

.visioProgram .l6 {
    left: l6;
}

    /*width*/
@eval w1 com.jci.client.resource.program.ProgramResource.COL_WIDTH*1-11+"px";
@eval w2 com.jci.client.resource.program.ProgramResource.COL_WIDTH*2-11+"px";
@eval w3 com.jci.client.resource.program.ProgramResource.COL_WIDTH*3-11+"px";

.visioProgram .w1 {
    width: w1;
}

.visioProgram .w2 {
    width: w2;
}

.visioProgram .w3 {
    width: w3;
}

    /*top*/
@eval t700 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*0.00+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t725 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*0.25+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t750 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*0.50+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t775 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*0.75+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";

@eval t800 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*1.00+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t825 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*1.25+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t850 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*1.50+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t875 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*1.75+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";

@eval t900 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*2.00+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t925 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*2.25+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t950 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*2.50+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t975 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*2.75+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";

@eval t1000 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*3.00+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1025 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*3.25+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1050 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*3.50+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1075 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*3.75+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";

@eval t1100 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*4.00+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1125 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*4.25+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1150 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*4.50+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1175 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*4.75+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";

@eval t1200 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*5.00+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1225 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*5.25+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1250 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*5.50+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1275 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*5.75+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";

@eval t1300 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*6.00+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1325 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*6.25+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1350 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*6.50+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1375 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*6.75+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";

@eval t1400 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*7.00+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1425 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*7.25+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1450 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*7.50+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1475 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*7.75+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";

@eval t1500 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*8.00+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1525 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*8.25+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1550 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*8.50+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1575 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*8.75+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";

@eval t1600 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*9.00+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1625 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*9.25+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1650 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*9.50+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1675 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*9.75+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";

@eval t1700 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*10.00+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1725 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*10.25+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1750 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*10.50+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1775 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*10.75+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";

@eval t1800 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*11.00+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1825 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*11.25+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1850 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*11.50+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1875 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*11.75+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";

@eval t1900 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*12.00+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1925 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*12.25+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1950 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*12.50+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t1975 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*12.75+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";

@eval t2000 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*13.00+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t2025 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*13.25+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t2050 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*13.50+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t2075 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*13.75+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";

@eval t2100 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*14.00+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t2125 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*14.25+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t2150 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*14.50+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t2175 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*14.75+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";

@eval t2200 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*15.00+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t2225 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*15.25+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t2250 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*15.50+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t2275 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*15.75+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";

@eval t2300 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*16.00+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t2325 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*16.25+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t2350 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*16.50+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t2375 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*16.75+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";

@eval t2400 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*17.00+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t2425 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*17.25+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t2450 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*17.50+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";
@eval t2475 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*17.75+com.jci.client.resource.program.ProgramResource.BEFORE_TOP+"px";

.visioProgram .t700 {
    top: t700;
}

.visioProgram .t725 {
    top: t725;
}

.visioProgram .t750 {
    top: t750;
}

.visioProgram .t775 {
    top: t775;
}

.visioProgram .t800 {
    top: t800;
}

.visioProgram .t825 {
    top: t825;
}

.visioProgram .t850 {
    top: t850;
}

.visioProgram .t875 {
    top: t875;
}

.visioProgram .t900 {
    top: t900;
}

.visioProgram .t925 {
    top: t925;
}

.visioProgram .t950 {
    top: t950;
}

.visioProgram .t975 {
    top: t975;
}

.visioProgram .t1000 {
    top: t1000;
}

.visioProgram .t1025 {
    top: t1025;
}

.visioProgram .t1050 {
    top: t1050;
}

.visioProgram .t1075 {
    top: t1075;
}

.visioProgram .t1100 {
    top: t1100;
}

.visioProgram .t1125 {
    top: t1125;
}

.visioProgram .t1150 {
    top: t1150;
}

.visioProgram .t1175 {
    top: t1175;
}

.visioProgram .t1200 {
    top: t1200;
}

.visioProgram .t1225 {
    top: t1225;
}

.visioProgram .t1250 {
    top: t1250;
}

.visioProgram .t1275 {
    top: t1275;
}

.visioProgram .t1300 {
    top: t1300;
}

.visioProgram .t1325 {
    top: t1325;
}

.visioProgram .t1350 {
    top: t1350;
}

.visioProgram .t1375 {
    top: t1375;
}

.visioProgram .t1400 {
    top: t1400;
}

.visioProgram .t1425 {
    top: t1425;
}

.visioProgram .t1450 {
    top: t1450;
}

.visioProgram .t1475 {
    top: t1475;
}

.visioProgram .t1500 {
    top: t1500;
}

.visioProgram .t1525 {
    top: t1525;
}

.visioProgram .t1550 {
    top: t1550;
}

.visioProgram .t1575 {
    top: t1575;
}

.visioProgram .t1600 {
    top: t1600;
}

.visioProgram .t1625 {
    top: t1625;
}

.visioProgram .t1650 {
    top: t1650;
}

.visioProgram .t1675 {
    top: t1675;
}

.visioProgram .t1700 {
    top: t1700;
}

.visioProgram .t1725 {
    top: t1725;
}

.visioProgram .t1750 {
    top: t1750;
}

.visioProgram .t1775 {
    top: t1775;
}

.visioProgram .t1800 {
    top: t1800;
}

.visioProgram .t1825 {
    top: t1825;
}

.visioProgram .t1850 {
    top: t1850;
}

.visioProgram .t1875 {
    top: t1875;
}

.visioProgram .t1900 {
    top: t1900;
}

.visioProgram .t1925 {
    top: t1925;
}

.visioProgram .t1950 {
    top: t1950;
}

.visioProgram .t1975 {
    top: t1975;
}

.visioProgram .t2000 {
    top: t2000;
}

.visioProgram .t2025 {
    top: t2025;
}

.visioProgram .t2050 {
    top: t2050;
}

.visioProgram .t2075 {
    top: t2075;
}

.visioProgram .t2100 {
    top: t2100;
}

.visioProgram .t2125 {
    top: t2125;
}

.visioProgram .t2150 {
    top: t2150;
}

.visioProgram .t2175 {
    top: t2175;
}

.visioProgram .t2200 {
    top: t2200;
}

.visioProgram .t2225 {
    top: t2225;
}

.visioProgram .t2250 {
    top: t2250;
}

.visioProgram .t2275 {
    top: t2275;
}

.visioProgram .t2300 {
    top: t2300;
}

.visioProgram .t2325 {
    top: t2325;
}

.visioProgram .t2350 {
    top: t2350;
}

.visioProgram .t2375 {
    top: t2375;
}

.visioProgram .t2400 {
    top: t2400;
}

.visioProgram .t2425 {
    top: t2425;
}

.visioProgram .t2450 {
    top: t2450;
}

.visioProgram .t2475 {
    top: t2475;
}

    /*height*/
@eval h025 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*0.25-11+"px";
@eval h050 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*0.50-11+"px";
@eval h075 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*0.75-11+"px";

@eval h100 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*1.00-11+"px";
@eval h125 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*1.25-11+"px";
@eval h150 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*1.50-11+"px";
@eval h175 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*1.75-11+"px";

@eval h200 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*2.00-11+"px";
@eval h225 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*2.25-11+"px";
@eval h250 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*2.50-11+"px";
@eval h275 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*2.75-11+"px";

@eval h300 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*3.00-11+"px";
@eval h325 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*3.25-11+"px";
@eval h350 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*3.50-11+"px";
@eval h375 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*3.75-11+"px";

@eval h400 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*4.00-11+"px";
@eval h425 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*4.25-11+"px";
@eval h450 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*4.50-11+"px";
@eval h475 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*4.75-11+"px";

@eval h500 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*5.00-11+"px";
@eval h525 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*5.25-11+"px";
@eval h550 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*5.50-11+"px";
@eval h575 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*5.75-11+"px";

@eval h600 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*6.00-11+"px";
@eval h625 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*6.25-11+"px";
@eval h650 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*6.50-11+"px";
@eval h675 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*6.75-11+"px";

@eval h700 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*7.00-11+"px";
@eval h725 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*7.25-11+"px";
@eval h750 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*7.50-11+"px";
@eval h775 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*7.75-11+"px";

@eval h800 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*8.00-11+"px";
@eval h825 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*8.25-11+"px";
@eval h850 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*8.50-11+"px";
@eval h875 com.jci.client.resource.program.ProgramResource.COL_HEIGTH*8.75-11+"px";

.visioProgram .h025 {
    height: h025;
}

.visioProgram .h050 {
    height: h050;
}

.visioProgram .h075 {
    height: h075;
}

.visioProgram .h100 {
    height: h100;
}

.visioProgram .h125 {
    height: h125;
}

.visioProgram .h150 {
    height: h150;
}

.visioProgram .h175 {
    height: h175;
}

.visioProgram .h200 {
    height: h200;
}

.visioProgram .h225 {
    height: h225;
}

.visioProgram .h250 {
    height: h250;
}

.visioProgram .h275 {
    height: h275;
}

.visioProgram .h300 {
    height: h300;
}

.visioProgram .h325 {
    height: h325;
}

.visioProgram .h350 {
    height: h350;
}

.visioProgram .h375 {
    height: h375;
}

.visioProgram .h400 {
    height: h400;
}

.visioProgram .h425 {
    height: h425;
}

.visioProgram .h450 {
    height: h450;
}

.visioProgram .h475 {
    height: h475;
}

.visioProgram .h500 {
    height: h500;
}

.visioProgram .h525 {
    height: h525;
}

.visioProgram .h550 {
    height: h550;
}

.visioProgram .h575 {
    height: h575;
}

.visioProgram .h600 {
    height: h600;
}

.visioProgram .h625 {
    height: h625;
}

.visioProgram .h650 {
    height: h650;
}

.visioProgram .h675 {
    height: h675;
}

.visioProgram .h700 {
    height: h700;
}

.visioProgram .h725 {
    height: h725;
}

.visioProgram .h750 {
    height: h750;
}

.visioProgram .h775 {
    height: h775;
}

.visioProgram .h800 {
    height: h800;
}

.visioProgram .h825 {
    height: h825;
}

.visioProgram .h850 {
    height: h850;
}

.visioProgram .h875 {
    height: h875;
}
