div.sponsorWrapper {
    margin-top: 40px;
    width: 940px;
    background-color: #d4ebf6;
    padding: 20px 30px;
}

.sponsorWrapper a {
    margin: 10px 25px;
    height: 34px;
    display: block;
    float: left;
    moz-opacity: 1;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity = 100 );
}

.sponsorWrapper a:last-child {
    margin-right: 0;
}

.sponsorWrapper a:first-child {
    margin-left: 0;
}

.sponsorWrapper a:hover, .sponsorWrapper a:active {
    -moz-opacity: 0.85;
    opacity: 0.85;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity = 85 );
}
