.sliderWrapper {
    height: 347px;
    margin-bottom: 30px;
    overflow: hidden;
}

@sprite .sliderPhoto {
    gwt-image: "homeImage001";
    float: left;
    height: 100%;
    width: 764px;
    position: relative;
}

.sliderButtons {
    float: left;
}

.sliderButtons div {
    display: table;
    width: 236px;
}

@sprite .sliderButtons div p {
    gwt-image: "degrade_bt";
    text-align: center;
    border-left: 1px solid #355b42;
    border-bottom: 1px solid #355b42;
    color: #f2f2f2;
    font-weight: bold;
    font-family: helvetica, "Helvetica Neue", Arial, sans-serif;
    font-size: 22px;
    display: table-cell;
    vertical-align: middle;
    text-shadow: 0px 0px 5px rgba(87, 87, 87, 0.69);
}

@sprite .sliderButtons div:hover p {
    gwt-image: "degrade_bt_up";
}

@sprite .sliderButtons div:active p {
    gwt-image: "degrade_bt_dn";
}

.sliderButtons div a {
    color: #ffffff;
}

.sliderButtons div p:hover {
    color: #ffffff;
    cursor: pointer;
}

.sliderButtons div:last-child {
    border-bottom: none;
}

.aWonderfulCity {
    width: 250px;
    margin-top: 20px;
    height: 50px;
    background-color: #d7dcde;
    font-size: 34px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: table;
    padding-left: 10px;
}

.aWonderfulCity p {
    display: table-cell;
    vertical-align: middle;
    padding-top: 10px;
}

.button_visio li {
    cursor: pointer;
}

.button_visio {
    width: 120px;
    height: 20px;
    position: absolute;
    bottom: 12px;
    left: 322px;
}