div.width {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

div.white {
    /*background: #d4ebf6;*/
}

div.round {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

@sprite .tuile {
    gwt-image: "tuile";
}

body, body p{
    color: #383839;
    font-family: arial, sans-serif;
}
